body{

background:#0d1117;

font-family:Arial,Helvetica,sans-serif;

color:white;

margin:0;

padding:40px;

}

.container{

max-width:900px;

margin:auto;

background:#161b22;

padding:40px;

border-radius:12px;

box-shadow:0 0 20px rgba(0,0,0,.4);

}

h1{

color:#5865F2;

}

h2{

margin-top:30px;

color:#58a6ff;

}

p{

line-height:1.8;

}

.buttons{

margin-top:40px;

}

.buttons a{

display:inline-block;

padding:15px 25px;

margin-right:15px;

text-decoration:none;

background:#5865F2;

color:white;

border-radius:8px;

font-weight:bold;

transition:.3s;

}

.buttons a:hover{

background:#4752C4;

}
